<div class= "container col-6 ms-3 mt-3">
  <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
  <div class="form">
    <p><%= link_to task.title, task_path(task) %></p>

    <% if task.completed %>
    <i class="fa-regular fa-square-check"></i>
    <% end %>
  </div>
  <% end %>
  <div class= "add_task">
    <%= link_to " + Add a new task", new_task_path %>
  </div>
</div>
